<div class="container mt-5">
<h1>Ayuda Y Consultas Directas</h1>
<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            Servicio de Ayuda
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
        <div class="accordion-body">
            Si tienes alguna pregunta o necesitas asistencia con el uso de nuestra plataforma, 
            puedes visitar nuestra sección de preguntas frecuentes (FAQ) o ponerte en contacto con nuestro equipo 
            de soporte a través del formulario de contacto. Estamos aquí para ayudarte a resolver cualquier duda relacionada
             con la conservación del agua y el funcionamiento de nuestra página.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            Buzón de Ayuda
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
        <div class="accordion-body">
            ¿Tienes alguna sugerencia, duda o comentario? Utiliza nuestro buzón de ayuda para enviarnos tus consultas.
            Nos comprometemos a responder lo antes posible y a brindarte el apoyo que necesites.
             Puedes acceder al formulario de contacto desde el menú principal de nuestra página.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            Informar un Problema
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
        <div class="accordion-body">
            Si encuentras algún problema técnico o algún error en la plataforma, te invitamos a informarnos de inmediato. 
            Ingresa a la sección de “Informar un Problema” y completa el formulario describiendo el inconveniente.
             Nuestro equipo técnico lo revisará y trabajará en una solución para garantizar que tu experiencia en 
             el sitio sea lo más fluida posible.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
            Seguridad
        </button>
      </h2>
      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
        <div class="accordion-body">
            Nos tomamos muy en serio la seguridad de nuestros usuarios y de la información proporcionada. 
            Implementamos medidas avanzadas para proteger nuestros sistemas y garantizar que toda la información 
            compartida en nuestra plataforma esté segura. Para más detalles, revisa nuestra Política de Privacidad.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
            Términos y Condiciones
        </button>
      </h2>
      <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
        <div class="accordion-body">
            Antes de utilizar nuestra plataforma, te recomendamos leer nuestros Términos y Condiciones. 
            Aquí encontrarás información sobre las reglas de uso del sitio web, las responsabilidades del 
            usuario y los derechos de AquaGuard. Al acceder y utilizar nuestra página, aceptas cumplir con los 
            términos y condiciones establecidos.
        </div>
      </div>
    </div>

  </div>
</div>

  