<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AquaGuard</title>
</head>
<body>
    <header class="header">        
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <div class="logo d-flex align-items-center">
                    <a routerLink="/inicio"><img src="agua.ico" alt="Logo AquaGuard" class="logo-img"></a>
                    <h1 class="title"><a routerLink="/inicio" class="navbar-brand">AquaGuard</a></h1>
                </div>
                <button class="navbar-toggler hamburger" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto menu-horizontal">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/inicio">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Contenido Educativo
                            </a>
                            <ul class="dropdown-menu menu-vertical" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" routerLink="/articulos">Artículos y Noticias</a></li>
                                <li><a class="dropdown-item" routerLink="/conservacion">Conservación del Agua</a></li>
                                <li><a class="dropdown-item" routerLink="/recursos">Recursos Educativos</a></li>
                                <li><a class="dropdown-item" routerLink="/cuidado">Cuidado del Agua</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/acerca-de">Acerca De</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/faq">FAQ</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSupport" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Soporte
                            </a>
                            <ul class="dropdown-menu menu-vertical" aria-labelledby="navbarDropdownSupport">
                                <li><a class="dropdown-item" routerLink="/contacto">Contáctenos</a></li>
                                <li><a class="dropdown-item" routerLink="/ayuda">Ayuda y Consultas</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
    </header>
    <router-outlet></router-outlet>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>Información De Contacto</h5>
                    <p><i class="fas fa-university"></i> Universidad Privada Antenor Orrego</p>
                    <p><i class="fas fa-map-marker-alt"></i> Av. América Sur 3145, Trujillo 13008</p>
                    <p><i class="fas fa-phone"></i> +00 000 000 000</p>
                </div>
                <div class="col-md-4">
                    <h5>Noticias Recientes</h5>
                    <p><i class="fas fa-newspaper"></i> Las Últimas Propuestas En Cuba Son Por La Sed: Más De 600.000 Personas Viven Sin Agua Potable.</p>
                    <p><small>Septiembre 2024</small></p>
                    <hr>
                    <p><i class="fas fa-newspaper"></i> Más De La Mitad De La Población Mundial No Tiene Acceso A Agua Potable Segura, Según Un Estudio Que Duplica Las Cifras De La ONU.</p>
                    <p><small>Agosto 2024</small></p>
                </div>
                <div class="col-md-4">
                    <h5>Contáctanos</h5>
                    <p><i class="fas fa-comments"></i> Déjanos tu opinión o duda.</p>
                    <form>
                        <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
                            <div class="form-group mb-3">
                              <input
                                type="text"
                                id="name"
                                class="form-control"
                                placeholder="Tu Nombre"
                                required
                                [(ngModel)]="formData.name"
                                name="name"
                              />
                            </div>
                      
                            <div class="form-group mb-3">
                              <input
                                type="email"
                                id="email"
                                class="form-control"
                                placeholder="Tu Correo Electrónico"
                                required
                                [(ngModel)]="formData.email"
                                name="email"
                              />
                            </div>
                      
                            <div class="form-group mb-3">
                              <textarea
                                id="message"
                                class="form-control"
                                rows="5"
                                placeholder="Escribe tu mensaje aquí..."
                                required
                                [(ngModel)]="formData.message"
                                name="message"
                              ></textarea>
                            </div>
                      
                            <button type="submit" class="btn btn-primary">Enviar</button>
                          </form>
                      
                          <!-- Mensajes de éxito y error -->
                          <div *ngIf="successMessage" class="alert alert-success mt-3">
                            {{ successMessage }}
                          </div>
                          <div *ngIf="errorMessage" class="alert alert-danger mt-3">
                            {{ errorMessage }}
                          </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Copyright &copy; 2024 - All Rights Reserved - AquaGuard</p>
        </div>
    </footer>
    

    
</body>
</html>
