<section class="conservacion-agua">
    <div class="container mt-5">
        <h2>Conservación del Agua</h2>
        <div class="content">
            <div class="text">
                <h3>¿Por qué es importante conservar el agua?</h3>
                <p>La conservación del agua es crucial para garantizar la disponibilidad de este recurso vital en el futuro. 
                    El agua dulce es limitada, y su demanda sigue aumentando debido al crecimiento de la población y la expansión de actividades humanas.
                    La sobreexplotación de fuentes de agua, el mal uso y la contaminación del agua amenazan con agotar este recurso en muchas regiones
                    del mundo, afectando tanto a las personas como a los ecosistemas.
                    Conservar el agua implica no solo usarla de manera eficiente, sino también proteger las fuentes naturales,
                    como ríos, lagos y acuíferos, de la contaminación y la degradación. Las prácticas de conservación abarcan desde pequeñas 
                    acciones cotidianas hasta la implementación de tecnologías innovadoras que permiten el reciclaje y la reutilización del agua.
                    Adoptar hábitos responsables y fomentar una mayor conciencia sobre el uso adecuado del agua es fundamental para asegurar su 
                    sostenibilidad a largo plazo.</p>

                <h3>¿Cómo reducir tu consumo de agua?</h3>
                <p>Existen muchas maneras de disminuir el consumo de agua en tu hogar. Algunas acciones sencillas incluyen:</p>
                <ul>
                    <li>Reparar fugas en grifos y tuberías.</li>
                    <li>Instalar dispositivos de ahorro de agua, como grifos de bajo flujo y cabezales de ducha eficientes.</li>
                    <li>Limitar el tiempo de las duchas.</li>
                    <li>Usar la lavadora y el lavavajillas solo con carga completa.</li>
                    <li>Recolectar agua de lluvia para riego.</li>
                </ul>
            </div>
            <div class="image">
                <img src="img/reducir-agua.png" alt="Conservación del Agua">
            </div>
        </div>
    </div>
</section>
