<div class="container mt-5">
<h1>Preguntas Frecuentes</h1>

<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          ¿Por qué es importante conservar el agua?
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
        <div class="accordion-body">
             Conservar el agua es esencial porque es un recurso limitado y vital para la vida. 
             Con el crecimiento de la población y el aumento de la demanda, es crucial proteger nuestras
             fuentes de agua y utilizarla de manera eficiente para asegurar su disponibilidad para las generaciones futuras.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          ¿Cómo puedo reducir mi consumo de agua en casa?
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
        <div class="accordion-body">
            Puedes reducir el consumo de agua de varias maneras: reparando fugas, usando electrodomésticos 
            eficientes, cerrando el grifo mientras te cepillas los dientes, tomando duchas más cortas y reutilizando
            el agua cuando sea posible, por ejemplo, para regar plantas o limpiar.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
          ¿Cómo afecta el consumo irresponsable de agua al medio ambiente?
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
        <div class="accordion-body">
             El consumo excesivo de agua puede agotar las fuentes naturales, afectando tanto a los ecosistemas 
             como a las comunidades que dependen de estos recursos. Además, el mal uso del agua contribuye a la contaminación,
             la degradación del suelo y la pérdida de biodiversidad.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
          ¿Cuáles son las tecnologías que ayudan a conservar el agua en el hogar?
        </button>
      </h2>
      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
        <div class="accordion-body">
            Existen varias tecnologías para conservar el agua en casa, como grifos de bajo flujo, 
            cabezales de ducha eficientes, inodoros de doble descarga, y sistemas de recolección de agua de lluvia.
            Estas herramientas reducen el consumo sin afectar el confort ni la funcionalidad.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
          ¿Qué acciones simples puedo realizar en mi día a día para ahorrar agua?
        </button>
      </h2>
      <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
        <div class="accordion-body">
          Puedes comenzar cerrando el grifo mientras te cepillas los dientes o te enjabonas las manos,
          tomando duchas más cortas, utilizando la lavadora y el lavavajillas solo cuando estén completamente llenos,
          y regando tus plantas temprano en la mañana o al anochecer para evitar la evaporación excesiva. 
          Pequeñas acciones pueden hacer una gran diferencia en el ahorro de agua.
        </div>
      </div>
    </div>

  </div>


</div>