<div  class="container mt-5">
  <div class="text-center mb-4">
    <h1>Artículos</h1>
    <p>En esta sección encontrarás una serie de artículos que destacan la importancia vital del agua para la vida en nuestro planeta. Exploraremos los desafíos relacionados con su escasez, el impacto de su mal uso y cómo podemos adoptar prácticas sostenibles para proteger este recurso esencial. A través de estos textos, buscamos concientizar y educar a la comunidad sobre la urgencia de cuidar y gestionar responsablemente el agua.</p>
  </div>
  
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">
            <a href="https://www.argentina.gob.ar/noticias/tomar-conciencia-sobre-el-agua-es-vital" target="_blank">
              Tomar conciencia sobre el agua es vital
            </a>
          </h5>
          <p class="card-text" style="text-align: justify;">
            <q>Aunque el 70% de la superficie del planeta Tierra está cubierta de agua, sólo el 2,5% es agua dulce y el restante es salada (océanos, mares y aguas subterráneas saladas). La mayoría del agua dulce está congelada en glaciares y napas subterráneas inaccesibles...</q>
          </p>
        </div>
      </div>
    </div>
    
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">
            <a href="https://www.nature.org/es-us/sobre-tnc/donde-trabajamos/tnc-en-latinoamerica/agua-concientizacion-cooperacion-contra-escasez-/" target="_blank">
              Concientización Cooperación contra Escasez
            </a>
          </h5>
          <p class="card-text" style="text-align: justify;">
            <q>Cada 20 años el consumo mundial de agua se duplica. Según ONU Habitat (Programa de las Naciones Unidas para Asentamientos Humanos), una de cada 4 ciudades del mundo se encuentra en regiones donde la demanda de agua es superior a la oferta. Y la calidad de este...</q>
          </p>
        </div>
      </div>
    </div>
    
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">
            <a href="https://www.paho.org/es/noticias/22-3-2024-gotas-conciencia-llamado-accion-por-dia-mundial-agua" target="_blank">
              Gotas de conciencia: Un llamado a la acción por el día mundial del agua
            </a>
          </h5>
          <p class="card-text" style="text-align: justify;">
            <q>Es en este punto donde la colaboración con organizaciones se vuelve fundamental. A través del apoyo técnico y operativo, la OPS trabaja en estrecha colaboración con instituciones y comunidades guatemaltecas para fortalecer...</q>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">
            <a href="https://www.oxfammexico.org/la-importancia-de-cuidar-el-agua/" target="_blank">
              La importancia de cuidar el agua
            </a>
          </h5>
          <p class="card-text" style="text-align: justify;">
            <q>Desde grandes trozos de basura hasta sustancias químicas invisibles, una amplia gama de contaminantes acaba en los lagos, ríos, arroyos, aguas subterráneas y, finalmente, en los océanos de nuestro planeta. La contaminación del agua -junto con la sequía, la ineficacia y el aumento de...</q>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">
            <a href="https://www.nationalgeographic.es/medio-ambiente/contaminacion-del-agua" target="_blank">
              La contaminación del agua constituye una crisis mundial creciente
            </a>
          </h5>
          <p class="card-text" style="text-align: justify;">
            <q>El agua es un recurso vital e indispensable para la vida humana y animal, sin embargo, su acceso no es ilimitado y está en peligro debido al cambio climático, la contaminación y el mal uso. El cuidado del agua... </q>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">
            <a href="https://news.un.org/es/story/2021/03/1489832" target="_blank">
              El agua es la base de la vida, pero está fuera del alcance de 2000 millones de personas
            </a>
          </h5>
          <p class="card-text" style="text-align: justify;">
            <q>El agua es un recurso cada vez más escaso en un mundo que la precisa para encarar sus grandes desafíos demográficos y climáticos. La falta de reconocimiento de su valor es la principal causa de su mal uso y desperdicio...</q>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Noticias Section -->
<div class="container mt-5">
  <div class="text-center mb-4">
    <h1 class="titulo">Noticias</h1>
    <p>En esta sección, encontrarás información actualizada sobre el problema de la escasez de agua, tanto a nivel local como global. Las noticias cubrirán temas como la gestión hídrica, proyectos de sostenibilidad, avances científicos en el ahorro de agua, y los impactos del cambio climático en los recursos hídricos.</p>
  </div>
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img src="img/noticia1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">¿Cuál es el país sudamericano que se quedará sin agua en el 2030 y por qué razón?</h5>
          <p class="card-text" style="text-align: justify;">El agua es considerado un elemento de suma importancia en el mundo, debido a que es utilizada en muchos aspectos, como para la hidratación, para la nutrición, para el saneamiento, para los cultivos, para los ecosistemas, entre otras cosas. En pocas palabras, el agua es vital para la vida...</p>
          <a href="https://elcomercio.pe/respuestas/que/6-factores-que-harian-que-este-pais-sudamericano-se-quede-sin-agua-en-el-2030-global-water-partnership-tdpe-noticia/" class="btn btn-primary" target="_blank">Leer más</a>
        </div>
      </div>
    </div>
    
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img src="img/noticia2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">El cambio climático está cerrando el grifo del agua</h5>
          <p class="card-text" style="text-align: justify;">Unos 739 millones de niños viven en zonas que a menudo carecen de agua, lo que los coloca en una situación muy vulnerable y de alto riesgo. De ellos, 436 millones corren un peligro aún mayor puesto que a la cada vez menor disponibilidad de agua se suman servicios de agua potable y saneamiento deficientes o inexistentes, revela un nuevo...</p>
          <a href="https://news.un.org/es/story/2023/11/1525627" class="btn btn-primary" target="_blank">Leer más</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img src="img/noticia3.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Las últimas protestas en Cuba son por la sed</h5>
          <p class="card-text" style="text-align: justify;">En la noche del martes, los vecinos del reparto La Rosita en San Miguel del Padrón, un municipio ubicado en la periferia de La Habana, se lanzaron a la calle tras más de dos semanas sin servicio de agua potable. Badiela Ayala estaba ahí, junto al tumulto que, sonando calderos y gritando “pongan el agua”, detuvo el tráfico en plena Calzada de Güines...</p>
          <a href="https://elpais.com/america/2024-09-08/las-ultimas-protestas-en-cuba-son-por-la-sed-mas-de-600000-cubanos-viven-sin-agua-potable.html" class="btn btn-primary" target="_blank">Leer más</a>
        </div>
      </div>
    </div>
    
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="img/noticia4.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Más de la mitad de la población mundial no tiene acceso a agua potable segura, según un estudio que duplica las cifras de la ONU</h5>
            <p class="card-text" style="text-align: justify;">Lograr el acceso universal y equitativo al agua potable en 2030 es uno de los Objetivos de Desarrollo Sostenible 
              de la ONU. Esta meta, que ya parecía difícil de alcanzar para...</p>
            <a href="https://elpais.com/planeta-futuro/2024-08-15/mas-de-la-mitad-de-la-poblacion-mundial-no-tiene-acceso-a-agua-potable-segura-segun-un-estudio-que-duplica-las-cifras-de-la-onu.html" class="btn btn-primary" target="_blank">Leer más</a>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="img/noticia5.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Quedan siete años para proteger el agua</h5>
            <p class="card-text" style="text-align: justify;">El mundo no va por buen camino para alcanzar los Objetivos de Desarrollo Sostenible relacionados 
              con el medio ambiente, en concreto con lo referido a los ecosistemas acuáticos. Sin embargo, hay 
              avances hacia su consecución y se han duplicado los datos disponibles para analizarlos, lo que mejora...</p>
            <a href="https://news.un.org/es/story/2023/03/1519437" class="btn btn-primary" target="_blank">Leer más</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="img/noticia6.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">¿El agua del mar se puede consumir? Esto reveló Sedapal</h5>
            <p class="card-text" style="text-align: justify;">La escasez de agua es un desafío creciente en muchas regiones del mundo. En este contexto, 
              la desalinización del agua de mar se ha convertido en una solución vital para abastecer de agua potable
               a las comunidades. En Perú, el Servicio de Agua Potable y...</p>
            <a href="https://elcomercio.pe/respuestas/que/el-agua-del-mar-se-puede-consumir-esto-revelo-sedapal-tdpe-noticia/" class="btn btn-primary" target="_blank">Leer más</a>
          </div>
        </div>
      </div>
      
    <!-- More articles here... -->
  
</div>
</div>
